/* ************ CSS RESET *******************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ************* GLOBAL ***************** */
:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    color: white;
    font-size: 18px;

}

html {
    min-height: 100vh;
}

header,
main,
footer {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}



body {
    background-color: var(--Violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

header {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 6.5rem;

}

header>img {
    height: clamp(2rem, 10vw, 3rem);
}

main {
    display: flex;
}

main>img {
    width: 55%;
    margin-right: 3.7rem;
}



.main-txt {
    width: 40%;
}

h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.22em;
    line-height: 3.3rem;
    margin-bottom: 1.5rem;
}

p {
    font-family: "Open Sans";
    line-height: 27px;
    margin-bottom: 1.5rem;
}

button {
    padding: 0.75rem 5rem;
    background-color: white;
    border-radius: 28px;
    border: none;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--Violet);
    line-height: 1.7rem;

}

button:hover {
    background-color: var(--Soft-Magenta);
    color: white;
}

footer {
    display: flex;
    justify-content: end;


}

svg {
    margin-left: 1rem;

    width: 40px;
    fill: white
}

svg:hover {
    fill: #FF52C1;
}



@media only screen and (max-width:1110px) {
    header {
        margin-top: 2.3rem;
        margin-bottom: 4.3rem;
    }

    body {
        background-image: url(images/bg-mobile.svg);
        background-position: 0;

    }

    main {
        flex-direction: column;
    }

    main>img,
    .main-txt {
        width: 100%;
    }

    .main-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.7rem;
    }

    footer {
        justify-content: center;


        margin-top: 4rem;
    }

    svg:nth-of-type(1) {
        margin: 0;
    }

    h1,
    p {
        text-align: center;
    }

    h1 {
        font-size: 1.33rem;
        line-height: 36px;
    }

    p {
        font-size: 0.88rem;
        line-height: 24px;
    }
}